* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
    background-color: darkslategray;
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 4px;
    height: 450px;
    width: 450px;
    margin: 50px auto;
    border: black solid 5px;
    background-color: black;
}

.cell {
    background-color: aliceblue;
}

.cell:hover {
    background-color: lightblue;
}