* {
    box-sizing: border-box;
}

html, body {

}

body {
    background-color: darkslategray;
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    height: 500px;
    width: 500px;
    margin: 75px auto 30px;
    border: black solid 10px;
    background-color: black;
}

.cell {
    background-color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 7em;
}

.cell:hover {
    background-color: lightblue;
}

#message-container {
    width: fit-content;
    margin: auto;
    font-size: 3.5rem;
}