* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
    background-image: url(icons/Patinated\ Copper\ None\ 3000\ x\ 3016\ mm.jpg);
}

form {
    width: 100%;
    display: grid;
    grid-template: 1fr auto / minmax(425px, 30%) minmax(425px, 30%);
    gap: 50px 20px;
    padding-top: 50px;
    position: absolute;
    justify-content: center;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

form fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    border: none;
    border-radius: 10px;
    border-left: aliceblue solid 4px;
    border-right: aliceblue solid 4px;
    padding: 50px 25px 50px;
    font-size: 2rem;
}

form legend {
    font-size: 3.2rem;
}

form p {
    margin: 0;
}

form input {
    appearance: none;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    background-color: aliceblue;
}

form input[type="text"]:focus,
form input:checked {
    outline: aliceblue solid 2px;
    outline-offset: 3px;
}

form input[type="text"] {
    width: 100%;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

form input[type="radio"] {
    width: 2.5rem;
}

form button {
    appearance: none;
    grid-column: 1 / 3;
    display: block;
    height: 100px;
    width: fit-content;
    margin: auto;
    padding: 30px 25px;
    border: aliceblue solid 5px;
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

form button:hover,
#reset-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    height: 450px;
    width: 450px;
    margin: 50px auto 30px;
    border: black solid 10px;
    background-color: black;
}

.cell {
    appearance: none;
    user-select: none;
    border: none;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 6.8rem;
    font-family: 'Chelsea Market', cursive;
    font-weight: 600;
}

.cell:not(.marked):hover {
    background-color: lightblue;
}

#message-container {
    height: 150px;
    width: fit-content;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

#reset-button {
    appearance: none;
    display: block;
    height: 125px;
    width: 125px;
    margin: auto;
    border: aliceblue solid 5px;
    background-color: rgba(0, 0, 0, 0);
}

.disabled {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}