* {
    box-sizing: border-box;
}

html, body {

}

body {
    background-color: darkslategray;
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    height: 425px;
    width: 425px;
    margin: 50px auto 30px;
    border: black solid 10px;
    background-color: black;
}

.cell {
    appearance: none;
    user-select: none;
    border: none;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 7rem;
}

.cell:not(.marked):hover {
    background-color: lightblue;
}

#message-container {
    height: 175px;
    width: fit-content;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.disabled {
    pointer-events: none;
}

#reset-button {
    appearance: none;
    display: block;
    height: 125px;
    width: 125px;
    margin: auto;
    border: aliceblue solid 4px;
    background-color: rgba(0, 0, 0, 0);
}