* {
    box-sizing: border-box;
}

html, body {

}

body {
    background-color: darkslategray;
}

form {
    position: absolute;
    color: aliceblue;
}

form fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 50px 25px 75px;
    font-size: 2rem;
}

form p {
    margin: 0;
}

form input {
    appearance: none;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
}

form input[type="text"]:focus,
form input:checked {
    outline: aliceblue solid 2px;
    outline-offset: 3px;
}

form input[type="text"] {
    width: 100%;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

form input[type="radio"] {
    width: 2.5rem;
    background-color: antiquewhite;
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    height: 425px;
    width: 425px;
    margin: 50px auto 30px;
    border: black solid 10px;
    background-color: black;
}

.cell {
    appearance: none;
    user-select: none;
    border: none;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 7rem;
}

.cell:not(.marked):hover {
    background-color: lightblue;
}

#message-container {
    height: 175px;
    width: fit-content;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

#reset-button {
    appearance: none;
    display: block;
    height: 125px;
    width: 125px;
    margin: auto;
    border: aliceblue solid 4px;
    background-color: rgba(0, 0, 0, 0);
}

.disabled {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}