* {
    box-sizing: border-box;
}

html, body {

}

body {
    background-color: darkslategray;
}

#board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    height: 450px;
    width: 450px;
    margin: 50px auto 30px;
    border: black solid 10px;
    background-color: black;
}

.cell {
    appearance: none;
    border: none;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    font-size: 7em;
}

.cell:not(.marked):hover {
    background-color: lightblue;
}

#message-container {
    width: fit-content;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.disabled {
    pointer-events: none;
}